@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
:root {
    --title-font: 'Krona One', sans-serif;
    --text-font: 'Montserrat', sans-serif;
    --bg-color: #80AF81;
    --primary-color: #508D4E;
    --secondary-color: #757FB2;
    --accent-color: #508D4E;
    --text-color: #495057;
    --btn-text-color: #D8DFE8;
}

body {
    background-color: var(--bg-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: var(--text-font);
    margin-top: 20px; 
    padding: 0;
}
strong{
    color: #225224;
}   

.header {
    display: flex;
    padding: 8px;
}

.header-img {
    height: 10%;
    width:  7%;
    margin-left: 4%;
}

.main {
    display: flex;
    margin: 40px 60px;
}

.input-section {
    width: 100%;
    display: flex;
    margin-left: 0%;
    flex-direction: column;
    gap: 30px;
    margin-top: 0%;
    
}

.title {
    font-size: 2.5rem;
    font-family: var(--title-font);
    color: var(--primary-color);
    font-style: oblique;
}

.highlight {
    color: var(--secondary-color);
}

.textarea {
    border: 7px solid #508D4E ;
    border-radius: 32px;
    background-color: #BEDC74 ;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 20px;
    width: 100%;
    height: 400px;
    resize: none;
    box-sizing: border-box;
}

.textarea::placeholder {
    color: var(--primary-color);
    font-size: 2rem;
}

.textarea:focus {
    border-color: var(--accent-color);
    outline: none;
    box-shadow: 0 0 20px rgba(32, 131, 45, 0.5);
}

.note {
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.btn {
    font-family: var(--title-font);
    font-size: 1rem;
    border: none;
    border-radius: 24px;
    padding: 10px 0;
    width: 40%;
}

.encrypt-btn {
    background-color: var(--primary-color);
    color: var(--btn-text-color);
}

.encrypt-btn:hover {
    background-color: #387F39;
    box-shadow: 0 0 20px rgba(32, 131, 45, 0.5);
}

.decrypt-btn {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.decrypt-btn:hover {
    background-color: var(--btn-text-color);
    box-shadow: 0 0 20px rgba(32, 131, 45, 0.5);
}

.result-section {
    display: flex;
    justify-content: right;
    align-items:end;
    padding: 0px;
    width: 70%;
    box-sizing: border-box;
}

.result-container {
    width: 50%;
    background-color: #BEDC74;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 30px;
    border: 7px solid #508D4E;
}

.result-initial {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.5s ease-in-out;
    padding: 20px;
}

.initial-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}

.initial-msg1 {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.initial-msg2 {
    font-weight: 600;
    font-size: 14px;
    color: var(--text-color);
}

.result-text {
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 50px;
    border: none;
    border-radius: 32px;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--text-color);
    box-sizing: border-box;
    resize: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: #BEDC74;
}

.result-text:focus {
    border: none;
    outline: none;
}

.copy-btn {
    font-family: var(--title-font);
    font-size: 1rem;
    border: none;
    border-radius: 24px;
    background-color: var(--primary-color);
    color: var(--btn-text-color);
    padding: 10px 0;
    margin: 20px 0 88px;
    width: 80%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.copy-btn.show {
    opacity: 1;
    visibility: visible;
}

.copy-btn:hover {
    background-color: #387F39;
    box-shadow: 0 0 20px #387F39(52, 152, 219, 0.5);
}

.footer {
    width: 100%;
    background-color: var(--primary-color); 
    padding: 20px 0; 
    margin-top: 7%;
    text-align: center; 
    color: var(--btn-text-color); 

}

.footer-text {
    font-family: var(--text-font); 
    font-weight: 600; 
    font-size: 1rem; 
    margin: 0; 
}

@media (max-width: 1200px) {
    .main {
        flex-direction: column;
        margin: 20px;
        padding: 0;
    }

    .input-section {
        width: 100%;
    }

    .result-section {
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }

    .result-container {
        width: 90%;
        max-width: 600px; 
        min-height: 300px;
        padding: 100px;
        margin: 20px 0;
    }

    .result-text {
        padding-top: 50px;
        font-size: 1.2rem;
        margin-top: 20px;
    }

    .copy-btn {
        margin-bottom: 20px;
        width: 90%;
    }
}

@media (max-width: 600px) {
    .main {
        margin: 10px;
    }

    .input-section {
        width: 100%;
    }

    .result-section {
        padding: 0;
        width: 100%;
    }

    .result-container {
        width: 65%;
        max-width: 100%;
        min-height: 400px;
        padding: 50px;
        margin: 15px;
    }

    .result-text {
        padding-top: 10px;
        font-size: 1rem;
        margin-top: 10px;
    }

    .result-text.expand{
        height: 550px;
    }

    .copy-btn {
        margin-bottom: 15px;
        width: 90%;
    }
}